<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>{{name}}</h2>
    <p>
      Registerd Company Number: {{number}}
      {{#vat}}
        </br>VAT Number: {{vat}}
      {{/vat}}
    </p>
    <p>
      {{#address}}
        {{.}}<br>
      {{/address}}
    </p>
  </div>

  {{#bankDetails}}
    <div class="col-xs-12 col-sm-6">
      <h3>Bank Details</h3>

      <div class="row">
        <div class="col-xs-4">Bank Name:</div>
        <div class="col-xs-8">{{name}}</div>
      </div>

      <div class="row">
        <div class="col-xs-4">Account #:</div>
        <div class="col-xs-8">{{ac}}</div>
      </div>

      <div class="row">
        <div class="col-xs-4">Sort-code:</div>
        <div class="col-xs-8">{{sc}}</div>
      </div>

      {{#iban}}
        <div class="row">
          <div class="col-xs-4">IBAN:</div>
          <div class="col-xs-8">{{iban}}</div>
        </div>
      {{/iban}}

      {{#swift}}
        <div class="row">
          <div class="col-xs-4">Swift:</div>
          <div class="col-xs-8">{{swift}}</div>
        </div>
      {{/swift}}

      <br>
      <div class="row">
        <div class="col-xs-4">Address:</div>

        <div class="col-xs-8">
          {{#address}}
            {{.}}<br>
          {{/address}}
        </div>

      </div>

    </div>
  {{/bankDetails}}

</div>