<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2>{{name}}</h2>
    <p>Registerd Company Number: {{number}}</p>
    <p>
      {{#address}}
        {{.}}<br>
      {{/address}}
    </p>
  </div>

  {{#bankDetails}}
    <div class="col-xs-12 col-sm-6">
      <h3>Bank Details</h3>

      <div class="row">
        <div class="col-xs-3">Bank Name:</div>
        <div class="col-xs-9">{{name}}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">Account Number:</div>
        <div class="col-xs-9">{{ac}}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">Sort-code:</div>
        <div class="col-xs-9">{{sc}}</div>
      </div>

      {{#iban}}
        <div class="row">
          <div class="col-xs-3">IBAN:</div>
          <div class="col-xs-9">{{iban}}</div>
        </div>
      {{/iban}}

      {{#swift}}
        <div class="row">
          <div class="col-xs-3">Swift:</div>
          <div class="col-xs-9">{{swift}}</div>
        </div>
      {{/swift}}

      <br>
      <div class="row">
        <div class="col-xs-3">Address:</div>

        <div class="col-xs-9">
          {{#address}}
            {{.}}<br>
          {{/address}}
        </div>

      </div>

    </div>
  {{/bankDetails}}

</div>