<div class="underline">
  <h1>Invoice #: {{number}}</h1>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <div class="col-xs-5">Date:</div>
      <div class="col-xs-7">{{date}}</div>
    </div>

    <div class="row">
      <div class="col-xs-5">Due Date:</div>
      <div class="col-xs-7">{{dueDate}}</div>
    </div>

    {{#totalDue.length}}
      <div class="row">
        <div class="col-xs-5">Total Due:</div>
        <div class="col-xs-7">
          {{#totalDue}}
            <div class="row">
              <div class="col-xs-12">{{currency}}{{value}}</div>
            </div>
          {{/totalDue}}
        </div>
      </div>
    {{/totalDue.length}}

  </div>
</div>